.value-container {
  display: flex;
  min-width: 0;
  border-radius: 2px;
  margin: 2px;
  background-color: #26292b !important;
  color: #9c9c9c !important;
  box-sizing: border-box;
}

.label {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border-radius: 2px;
  font-size: 85%;
  padding: 3px;
  padding-left: 6px;
  box-sizing: border-box;
  max-width: 250px;
}

.fallback-avatar {
  border-radius: 26px;
  width: 18px;
  height: 18px;
  font-size: small;
  padding: 1px;
  margin-inline-end: 2px;

  text-align: center;
  align-content: center;
}

.remove-icon {
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  border-radius: 2px;
  padding-left: 4px;
  padding-right: 4px;
  box-sizing: border-box;
  stroke-width: 0;
}

.remove-icon:hover {
  background-color: #FFBDAD;
  color: #DE350B;
}
